{{define "base"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Weather | {{ .Weather.Location.Name}}</title>
  </head>
  
  <body>
    <main>  

        <section class="container">
            <nav>
                <a href='/weather/tashkent'>Tashkent</a>
                <a href='/weather/andijan'>Andijan</a>
                <a href='/weather/bukhara'>Bukhara</a>
                <a href='/weather/jizzakh'>Jizzakh</a>
                <a href='/weather/karshi'>Karshi</a>
                <a href='/weather/navoi'>Navoi</a>
                <a href='/weather/namangan'>Namangan</a>
                <a href='/weather/nukus'>Nukus</a>
                <a href='/weather/samarkand'>Samarkand</a>
                <a href='/weather/termez'>Termez</a>
                <a href='/weather/urgench'>Urgench</a>
                <a href='/weather/fergana'>Fergana</a>
                <a href='/weather/khiva'>Khiva</a>
            </nav>
        </section>

        {{template "main" .}}

        <!-- Footer section -->
        <footer>
            <h6 class="current-year">
            {{ .CurrentYear}}| <a href="main">Portfolio</a>
            </h6>
        </footer>

    </main>
  </body>
</html>


{{end}}